services:
  db:
    image: postgres:${POSTGRES_VERSION:-17}-alpine
    container_name: fastprod-postgre-sql
    restart: always
    ports:
      - "${POSTGRES_HOST_DB_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-fastprod}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - fastprod
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  test-db:
    image: postgres:${POSTGRES_VERSION:-17}-alpine
    container_name: fastprod-postgre-sql-test
    restart: always
    ports:
      - "${POSTGRES_HOST_TEST_PORT:-5433}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_TEST_DB:-fastprod_test}
    networks:
      - fastprod
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  mail-dev:
    image: maildev/maildev:${MAILDEV_VERSION:-latest}
    container_name: fastprod-mail-dev
    restart: always
    ports:
      - "${MAIL_SMTP_PORT:-1025}:1025"
      - "${MAIL_WEB_PORT:-1080}:1080"
    networks:
      - fastprod

networks:
  fastprod:
    driver: bridge

volumes:
  postgres-data: