spring:
  application:
    name: fastprod-backend

  profiles:
    active: dev

  flyway:
    validate-on-migrate: true

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

server:
  servlet:
    context-path: /api/v1/