spring:
  application:
    name: fastprod-backend

  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java,src/main/resources
      poll-interval: 2s
      quiet-period: 1s
      exclude: static/**,public/**
    livereload:
      enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/fastprod
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    validate-on-migrate: true

  mail:
    host: localhost
    port: 1025
    username: vertyll
    password: vertyll
    from: no-reply@fastprod.local
    properties:
      mail:
        smtp:
          trust: "*"
          auth: true
          starttls:
            enabled: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

security:
  jwt:
    access-token:
      secret-key: CbIKeXKAkneVUn5me1nHZ+V74qpmZ36InUDFEXsg6YY=
      expiration: 900000
    refresh-token:
      secret-key: isN5Z1EinzeD2JyjXq6SZqoBd+QpOJMxZsBHwfhXHAA=
      expiration: 2592000000
      cookie-name: "refresh_token"
    cookie:
      httpOnly: true
      secure: false
      sameSite: Strict
      path: "/"

application:
  file:
    uploads:
      file-output-path: ./uploads

  frontend:
    url: http://localhost:8001

server:
  port: 8080

logging:
  level:
    root: INFO
    com.vertyll.fastprod: DEBUG
    org.springframework.security: DEBUG

admin:
  email: admin@fastprod.local
  password: zaq1@WSX
  first-name: System
  last-name: Administrator

app:
  seed:
    enabled: true