spring:
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java,src/main/resources
      poll-interval: 2s
      quiet-period: 1s
      exclude: static/**,public/**
    livereload:
      enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/fastprod
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  mail:
    host: localhost
    port: 1025
    username: vertyll
    password: vertyll
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enabled: true
        connection-timeout: 5000
        timeout: 3000
        write-timeout: 5000
  task:
    scheduling:
      enabled: true

security:
  jwt:
    access-token:
      secret-key: "c2VjcmV0LWtleS1mb3ItYWNjZXNzLXRva2VuLTMyaGFzaA=="
      expiration: 900000 # 15 minutes
    refresh-token:
      secret-key: "cmVmcmVzaC10b2tlbi1zZWNyZXQta2V5LTMyYnl0ZXM="
      expiration: 2592000000 # 30 days
      cookie-name: "refreshToken"

application:
  file:
    uploads:
      file-output-path: ./uploads
  frontend:
    url: http://localhost:4200

server:
  port: 8080
