/* Add your styles here */
vaadin-button {
    cursor: pointer;
}

/* Badge styles */
[theme~="badge"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    color: var(--lumo-primary-text-color);
    background-color: var(--lumo-primary-color-10pct);
    border-radius: var(--lumo-border-radius-s);
    font-size: var(--lumo-font-size-xs);
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}

[theme~="badge"][theme~="success"] {
    color: var(--lumo-success-text-color);
    background-color: var(--lumo-success-color-10pct);
}

[theme~="badge"][theme~="error"] {
    color: var(--lumo-error-text-color);
    background-color: var(--lumo-error-color-10pct);
}

[theme~="badge"][theme~="warning"] {
    color: var(--lumo-warning-text-color);
    background-color: var(--lumo-warning-color-10pct);
}

[theme~="badge"][theme~="contrast"] {
    color: var(--lumo-contrast);
    background-color: var(--lumo-contrast-10pct);
}
